<div class="p-3 bg-light border shadow">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"> ||| </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Admin Panel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'dashboard_page' %}">Dashboard</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'add_post' %}">Add Post</a>
                </li>
            </ul>

        </div>
    </div>
</div>