<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for cat in category_menu %}
                        <li><a class="dropdown-item" href="{% url 'archive_page' %}?cat={{ cat.slug }}">
                                {{ cat.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>

            <form action="{% url 'archive_page' %}" class="d-flex" role="search">
                {{ search_form }}
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"> -->
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>