{% extends 'base.html' %}

{% block content %}

{% include 'includes/navbar.html' %}

<div class="container mt-4">

    <div class="row">

        <div class="col-8">

            <div class="row row-cols-1 row-cols-md-3 g-4">

                {% for post in blogs %}

                {% include 'includes/post-card.html' with blog=post %}

                {% endfor %}


            </div>

        </div>

        <div class="col-4">

            {% include 'includes/sidebar.html' %}
        </div>

    </div>
</div>

{% endblock %}