{% extends 'base.html' %}

{% block content %}

{% include 'includes/admin-navbar.html' %}

<div class="container mt-4">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Views</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>

            {% for blog in blogs %}
            <tr>
                <td>
                    {% if blog.image %}

                    <img class="img-fluid" style="width: 60px;" src="{{ blog.image.url }}">

                    {% else %}

                    <img src="https://picsum.photos/60" class="img-fluid">

                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_post' blog.id %}">
                        {{ blog.title }}
                    </a>
                </td>
                <td>{{ blog.views }}</td>
                <td>{{ blog.created_at }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% if blogs.has_previous %}

    <a href="?page=`{{ blogs.previous_page_number }}" class="btn btn-primary">Previous</a>

    {% endif %}

    Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}

    {% if blogs.has_next %}

    <a href="?page={{ blogs.next_page_number }}" class="btn btn-primary">Next</a>

    {% endif %}


</div>


{% endblock %}